<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freshadmin">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfileBoostList"
            android:exported="false" />
        <activity
            android:name=".VerifyBoost"
            android:exported="false" />
        <activity
            android:name=".StudentToTeacher"
            android:exported="true" />
        <activity android:name=".FindUser" />
        <activity android:name=".PaymentDayList" />
        <activity
            android:name=".UserPosts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfilePic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPosts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreatePost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bkash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreLocked"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterviewCancelList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterviewCancel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AfterBan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AfterBanList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PendingJob"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PendingJobList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerTList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaidJob"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaidJobsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterviewDayList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterviewDay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockedJob"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockedJobsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>